@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Финансови услуги</h1>
    <p>За достъп до база данни с клиенти, моля да се логнете с потребителско име и парола.</p>
</div>
