@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">ФИНАНСОВИ УСЛУГИ</h1>

    <p id="homePage">
        Компанията ни е изцяло насочена в предоставянето на
        професионални финансови и управленски консултантски услуги, консултации при
        сделки по придобивания, сливания и преобразувания, разработване и управление на
        инвестиционни проекти, бизнес планиране и извършване на оценки на търговски
        предприятия и вземания. Създадена е да функционира основно на българския пазар,
        предвид нарастващите нужди от постоянна корпоративна и финансова оптимизация
        и следване на световните пазарни икономически тенденции. Предлаганите консултантски услуги са в
        следните основни направления:
    </p>



    <section id="invest">

        <div id="click1" class="clickDiv" onclick="hideFunction(event)"><b>=> Разработване и управление на инвестиционни проекти</b> </div>

        <div id="service1">
            <ul>
                <li>
                    Бизнес планиране и стратегии за развитие на дейността, финансово
                    прогнозиране на дейността; финансово програмиране.
                </li>
                <li>
                    Подготовка на проекти и необходимата документация за
                    кандидатстване за финансиране по различни европейски програми,
                    фондове, междуправителствени споразумения и пр.
                </li>
                <li>
                    Подготовка на необходимата документация за кандидатстване на
                    финансиране пред кредитираща институция.
                </li>
                <li>
                    Управление на процеса по кредитиране през всички етапи до
                    подписване на договор със съответната финансираща институция.
                </li>
                <li>
                    Проектно управление по време на изпълнение на инвестицията.
                </li>
                <li> Финансово управление по време на изпълнение на инвестицията.  </li>
            </ul>
        </div>
    </section>

    <section id="invest"> 

        <div id="click2" class="clickDiv" onclick="hideFunction(event)"><b>=> Фирмено управление и стратегии за развитие</b> </div>

        <div id="service2">
            <ul>
                <li>
                    Анализ на фирмената структура и ефективността на дейностите и комуникационните потоци в рамките на едно предприятие.
                </li>
                <li>
                    Оценка на състоянието и дейността на дружествата с цел придобивания, сливания и преобразувания.
                </li>
                <li>
                    Бизнес планиране и управление на инвестиционни проекти, в т.ч., но не само: управление на процесите по проектиране, финансиране, строителство и изграждане на производствени мощности, получаване на необходимите лицензии и разрешителни за осъществяване на дейността.
                </li>
                <li>
                    Разработване на проекти за получаване не финансиране по различни европейски програми, фондове, междуправителствени споразумения и пр.
                </li>
                <li>
                    Разработване на проекти за получаване не финансиране по различни европейски програми, фондове, междуправителствени споразумения и пр.
                </li>
                <li>  	Управление на процесите по кредитиране през всички етапи до подписване на договор със съответната финансираща институция.  </li>
                <li>  	 	Оперативно управление на финансовата дейност в рамките на цялостната дейност на компаниите. </li>
              
            </ul>
        </div>
    </section>

    <section id="invest">

        <div id="click3" class="clickDiv" onclick="hideFunction(event)"><b>=> Осигуряване на финансиране на оборотни средства за юридически лица</b> </div>

        <div id="service3">
            <ul>
                <li>
                    Анализ на финансово състояние на дружество и консултации относно опциите за финансиране.
                </li>
                <li>
                    Подготовка на необходимата документация за кандидатстване за финансиране пред кредитираща институция.
                </li>
                <li>
                   	Управление на процеса по кредитиране през всички етапи до подписване на договор със съответната финансираща институция.
                </li>

            </ul>
        </div>
    </section>

    <section id="invest">

        <div id="click4" class="clickDiv" onclick="hideFunction(event)"><b>=> Осигуряване на финансиране на физически лица</b> </div>

        <div id="service4">
            <ul>
                <li>
                    Консултации и анализ на възможности за ипотечно и потребителско кредитиране.
                </li>
                <li>
                    Подготовка на необходимата документация за кандидатстване за финансиране пред кредитираща институция.
                </li>
                <li>
                    Управление на процеса по кредитиране през всички етапи до подписване на договор със съответната финансираща институция.
                </li>

            </ul>
        </div>
    </section>



</div>


<script type="text/javascript">

       
    var elementService1 = document.getElementById("service1");
    var elementService2 = document.getElementById("service2");
    var elementService3 = document.getElementById("service3");
    var elementService4 = document.getElementById("service4");

    elementService1.style.display = "none";
    elementService2.style.display = "none";
    elementService3.style.display = "none";
    elementService4.style.display = "none";


    function hideFunction(event) {

        var currentButton = event.currentTarget;

        var id = currentButton.id;


        if (id == "click1") {
          //  var x = document.getElementById("investContent1");
            if (elementService1.style.display === "none") {
                elementService1.style.display = "block";
            } else {
                elementService1.style.display = "none";
            }
        } else if (id == "click2") {
            if (elementService2.style.display === "none") {
                elementService2.style.display = "block";
            } else {
                elementService2.style.display = "none";
            }

         } else if (id == "click3") {
            if (elementService3.style.display === "none") {
                elementService3.style.display = "block";
            } else {
                elementService3.style.display = "none";
            }

        } else if (id == "click4") {
            if (elementService4.style.display === "none") {
                elementService4.style.display = "block";
            } else {
                elementService4.style.display = "none";
            }

        }

        
    }

</script>