@using FinancialServices.Areas.Administration.Models
@model ImportsViewModel

@{
    ViewBag.Title = "Импортирай файлове с данни";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">




    <input type="button" value="Импортитай КИД" onclick="location.href='Administration/ImportKid'" />

    <p></p>


    <input type="button" value="Импортитай Физически лица" onclick="location.href='Administration/ImportPersons'" />

    <p></p>

    <input type="button" value="Импортитай Юридически лица" onclick="location.href='Administration/ImportCompanies'" />
    <p></p>


    <input type="button" value="Импортитай Мениджъри" onclick="location.href='Administration/ImportManagers'" />
    <p></p>


    <input type="button" value="Импортитай собственици на компании - ФЛ" onclick="location.href='Administration/ImportOwnerPersons'" />

    <p></p>

    <input type="button" value="Импортитай собственици на компании - ЮЛ" onclick="location.href='Administration/ImportOwnerCompany'" />

    <p></p>

    <input type="button" value="Импортирай вскички накуп" onclick="location.href='Administration/Import'" />



</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}