html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



#homePage {
 
    margin-top: 50px;
    text-align: left;
   
}

#invest {
    margin-bottom: 10px;
    margin-top: 50px;
    text-align: left;
}

.clickDiv {
    cursor: pointer;
    color: #55544f;
    font-weight: bolder;
}
